<div class="table-responsive" >
   <table class="table table-striped table-hover">
      <thead>
         <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
         </tr>
      </thead>
      <tbody id="patients">
         <tr ng-repeat="patient in patients">
            <td> {{patient.name}} </td>
            <td> {{patient.email}} </td>
            <td> {{patient.mobile}} </td>
            <td class="text-right">
               <button class="btn btn-default btn-xs" aria-label="editar" ng-click="edit(patient)">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
               </button>
               <button class="btn btn-default btn-xs" aria-label="remover" ng-click="delete(patient, $index)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
               </button>
            </td>
         </tr>
      </tbody>
   </table>
</div>
